PORT=8080
FRONTEND_PORT=5173
VITE_GRAPHQL_ENDPOINT=http://localhost:8080/query
FRONTEND_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
SQL_USER=app
SQL_PASSWORD=app
SQL_NET=tcp
SQL_ADDR=127.0.0.1:3306
SQL_DBNAME=excel_template_mapper
